body {
  background: yellow;
}
/* every box is this size */

.skyblue {
  background: green;
}

.box{
  padding: 10px;
  background: red;
  margin-top:50px;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:20px;
  align-content: center;
}


/* Giving our navbar some padding and a background color */
.navbar {
  margin-right: 0px;
  margin-left: 0px;
  padding: 25px;
  background: #5D6D7E;
}

/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li {
  display: d-block;
  padding: 10px;
  margin-right: 0px;
  margin-left: 0px;
  cursor: pointer;
}
h1 {
  font-size: 35px;
}
h2 {
  font-size: 20px;
}


p{
    font-size: 20px;
}

.latitude {
  color: white;
  font-family: verdana;
  font-size: 40px;
  background-color: #2874A6;
  border: 1px solid #2874A6;
    padding: 15px;
}